.container{
    margin-top:32px;
    margin-bottom:32px;
    padding:16px;
    border: 2px solid #c0c0c0;
    border-radius: 4px;
    background-color:white;
}

.listhead{
    text-align:center;
}

.caption{
    text-align:center;
}

.gameCard{
    height:432px;
    font-size:80%;
}

.thumbnail{
    background-color:#EEEEEE;
}

.article{
    color:#AAAAAA;
}